In [34]:
import pandas as pd
import numpy as np
import os
import re

# Get all the names of worksheet

In [60]:
file=pd.ExcelFile('Sample Data/Test1Data.xlsx')

In [61]:
file.sheet_names

['Data', 'Country Region', 'SampleOutput']

# Read in data

In [67]:
dt=pd.read_excel('Sample Data/Test1Data.xlsx',sheet_name="Data")
dt_region=pd.read_excel('Sample Data/Test1Data.xlsx',sheet_name='Country Region')

In [63]:
dt.head(1)

   year    country_a            country_b  ln_totaltrade
0  2007  AFGHANISTAN  ANTIGUA AND BARBUDA       0.000047

In [64]:
dt_region.head(1)

     country_a                region_a subregion_a
0  AFGHANISTAN  South and Central Asia  South Asia

# Add in regions

In [68]:
dt=pd.merge(left=dt,right=dt_region,on=["country_a"],how="left")
dt_region.rename(columns={"country_a":"country_b","region_a":"region_b","subregion_a":"subregion_b"},inplace=True)
dt=pd.merge(left=dt,right=dt_region,on=["country_b"],how="left")

In [69]:
dt.head(1)

,year,country_a,country_b,ln_totaltrade,region_a,subregion_a,region_b,subregion_b
0,2007,AFGHANISTAN,ANTIGUA AND BARBUDA,0.000047,South and Central Asia,South Asia,North America,Caribbean

In [70]:
"apple and orange ".title()
"Apple and Orange"

'Apple And Orange '

In [71]:
x="Apple and Orange"
re.sub(" And "," and ",x)

'Apple and Orange'

# Upper Lower Case

In [72]:
dt["country_a"]=dt["country_a"].apply(lambda x: x.title())
dt["country_b"]=dt["country_b"].apply(lambda x: x.title())
dt["country_a"]=dt["country_a"].apply(lambda x: re.sub(r" And ",r" and ",x))
dt["country_b"]=dt["country_b"].apply(lambda x: re.sub(r" And ",r" and ",x))

In [73]:
dt.head()

,year,country_a,country_b,ln_totaltrade,region_a,subregion_a,region_b,subregion_b
0,2007,Afghanistan,Antigua and Barbuda,0.000047,South and Central Asia,South Asia,North America,Caribbean
1,2007,Antigua and Barbuda,Afghanistan,0.000047,North America,Caribbean,South and Central Asia,South Asia
2,2004,Albania,Antigua and Barbuda,0.000388,Europe,Eastern Europe,North America,Caribbean
3,2004,Antigua and Barbuda,Albania,0.000388,North America,Caribbean,Europe,Eastern Europe
4,2006,Afghanistan,Antigua and Barbuda,0.000512,South and Central Asia,South Asia,North America,Caribbean

# Remove duplicates & fill in nas

In [74]:
dt.shape

(812, 8)

In [75]:
print(dt.shape[0])
dt.drop_duplicates(inplace=True)
print(dt.shape[0])

812
792

In [76]:
dt.fillna(0,inplace=True)

# Sort the data and get the moving average

In [78]:
dt.sort_values(by=["country_a","country_b","year"],inplace=True)

In [81]:
dt_avg=dt.groupby(["country_a","country_b"])['ln_totaltrade'].rolling(3,min_periods=1).mean().reset_index()
dt_avg.head(20)
dt["ln_totaltrade_ma"]=dt_avg["ln_totaltrade"]

In [82]:
dt

,year,country_a,country_b,ln_totaltrade,region_a,subregion_a,region_b,subregion_b,ln_totaltrade_ma
163,2000,Afghanistan,Albania,0.233546,South and Central Asia,South Asia,Europe,Eastern Europe,3.813579
144,2001,Afghanistan,Albania,0.176806,South and Central Asia,South Asia,Europe,Eastern Europe,1.637631
133,2002,Afghanistan,Albania,0.116653,South and Central Asia,South Asia,Europe,Eastern Europe,4.035016
100,2003,Afghanistan,Albania,0.062055,South and Central Asia,South Asia,Europe,Eastern Europe,0.157766
21,2004,Afghanistan,Albania,0.004302,South and Central Asia,South Asia,Europe,Eastern Europe,0.099490
179,2005,Afghanistan,Albania,0.557579,South and Central Asia,South Asia,Europe,Eastern Europe,0.348868
172,2006,Afghanistan,Albania,0.396381,South and Central Asia,South Asia,Europe,Eastern Europe,3.919226
192,2007,Afghanistan,Albania,0.800399,South and Central Asia,South Asia,Europe,Eastern Europe,0.144651
126,2008,Afghanistan,Albania,0.107644,South and Central Asia,South Asia,Europe,Eastern Europe,0.000000
14,2009,Afghanistan,Albania,0.002671,South and Central Asia,South Asia,Europe,Eastern Europe,0.348868
105,2010,Afghanistan,Albania,0.074038,South and Central Asia,South Asia,Europe,Eastern Europe,0.306191
72,2000,Afghanistan,Algeria,0.029586,South and Central Asia,South Asia,MENA,North Africa,3.002134
97,2001,Afghanistan,Algeria,0.059366,South and Central Asia,South Asia,MENA,North Africa,0.303571
195,2002,Afghanistan,Algeria,0.977678,South and Central Asia,South Asia,MENA,North Africa,1.038790
38,2003,Afghanistan,Algeria,0.009561,South and Central Asia,South Asia,MENA,North Africa,0.031052
57,2004,Afghanistan,Algeria,0.020621,South and Central Asia,South Asia,MENA,North Africa,5.235185
92,2005,Afghanistan,Algeria,0.048858,South and Central Asia,South Asia,MENA,North Africa,0.061003
112,2006,Afghanistan,Algeria,0.078890,South and Central Asia,South Asia,MENA,North Africa,0.000000
119,2007,Afghanistan,Algeria,0.092505,South and Central Asia,South Asia,MENA,North Africa,0.190384
89,2008,Afghanistan,Algeria,0.047763,South and Central Asia,South Asia,MENA,North Africa,0.205176
140,2009,Afghanistan,Algeria,0.156697,South and Central Asia,South Asia,MENA,North Africa,5.416361
122,2010,Afghanistan,Algeria,0.094009,South and Central Asia,South Asia,MENA,North Africa,0.000000
12,2000,Afghanistan,Antigua and Barbuda,0.002109,South and Central Asia,South Asia,North America,Caribbean,0.044476
19,2001,Afghanistan,Antigua and Barbuda,0.003235,South and Central Asia,South Asia,North America,Caribbean,0.073053
26,2002,Afghanistan,Antigua and Barbuda,0.004359,South and Central Asia,South Asia,North America,Caribbean,0.005482
30,2003,Afghanistan,Antigua and Barbuda,0.005483,South and Central Asia,South Asia,North America,Caribbean,0.000367
34,2004,Afghanistan,Antigua and Barbuda,0.006605,South and Central Asia,South Asia,North America,Caribbean,0.032586
49,2005,Afghanistan,Antigua and Barbuda,0.012548,South and Central Asia,South Asia,North America,Caribbean,4.327046
4,2006,Afghanistan,Antigua and Barbuda,0.000512,South and Central Asia,South Asia,North America,Caribbean,0.061003
0,2007,Afghanistan,Antigua and Barbuda,0.000047,South and Central Asia,South Asia,North America,Caribbean,0.233546
...,...,...,...,...,...,...,...,...,...
745,2003,United States,China,12.120347,North America,North America,East Asia-Pacific,Northeast Asia,5.581466
773,2004,United States,China,12.360393,North America,North America,East Asia-Pacific,Northeast Asia,12.272598
781,2005,United States,China,12.541989,North America,North America,East Asia-Pacific,Northeast Asia,11.598713
785,2006,United States,China,12.706041,North America,North America,East Asia-Pacific,Northeast Asia,11.481417
789,2007,United States,China,12.805211,North America,North America,East Asia-Pacific,Northeast Asia,11.601165
791,2008,United States,China,12.841057,North America,North America,East Asia-Pacific,Northeast Asia,11.506828
787,2009,United States,China,12.728222,North America,North America,East Asia-Pacific,Northeast Asia,11.529659
793,2010,United States,China,12.950606,North America,North America,East Asia-Pacific,Northeast Asia,NaN
779,2000,United States,Japan,12.498904,North America,North America,East Asia-Pacific,Northeast Asia,12.171859
767,2001,United States,Japan,12.329150,North America,North America,East Asia-Pacific,Northeast Asia,12.784103
755,2002,United States,Japan,12.261682,North America,North America,East Asia-Pacific,Northeast Asia,7.992825
753,2003,United States,Japan,12.226961,North America,North America,East Asia-Pacific,Northeast Asia,7.725399
759,2004,United States,Japan,12.280991,North America,North America,East Asia-Pacific,Northeast Asia,11.702277
761,2005,United States,Japan,12.295951,North America,North America,East Asia-Pacific,Northeast Asia,11.783368
769,2006,United States,Japan,12.336177,North America,North America,East Asia-Pacific,Northeast Asia,12.839962
765,2007,United States,Japan,12.311673,North America,North America,East Asia-Pacific,Northeast Asia,12.536141
757,2008,United States,Japan,12.268742,North America,North America,East Asia-Pacific,Northeast Asia,8.073002
741,2009,United States,Japan,11.935163,North America,North America,East Asia-Pacific,Northeast Asia,5.082979
747,2010,United States,Japan,12.120908,North America,North America,East Asia-Pacific,Northeast Asia,5.286712
727,2000,United States,United Kingdom,11.598713,North America,North America,Europe,EU,8.483793
719,2001,United States,United Kingdom,11.546728,North America,North America,Europe,EU,3.370187
709,2002,United States,United Kingdom,11.454385,North America,North America,Europe,EU,4.758285
711,2003,United States,United Kingdom,11.469133,North America,North America,Europe,EU,5.527723
717,2004,United States,United Kingdom,11.520732,North America,North America,Europe,EU,3.319254
715,2005,United States,United Kingdom,11.503665,North America,North America,Europe,EU,3.361907
723,2006,United States,United Kingdom,11.564580,North America,North America,Europe,EU,3.958051
731,2007,United States,United Kingdom,11.621536,North America,North America,Europe,EU,9.087264
729,2008,United States,United Kingdom,11.617379,North America,North America,Europe,EU,8.532223
707,2009,United States,United Kingdom,11.425260,North America,North America,Europe,EU,3.258289
713,2010,United States,United Kingdom,11.477845,North America,North America,Europe,EU,6.080349